* {
  box-sizing: border-box;
}

main {
  font-family: 'Montserrat', sans-serif;
  /* Aplica Montserrat a toda a página */
  padding: 50px;
  background: #f1f1f1;
}

.bg-dark {
  background-color: #aaa;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  padding-top: 12px;
  background-color: #37836f;
  height: 70px;
  font-size: large;
  align-items: center;
  padding-bottom: 2px;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  /* Transição suave */
}

/* Change color on hover */
.topnav a:hover {
  background-color: #98c9ac86;
  color: #f2f2f2;
}


/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

.campanhas {
  padding: 10px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {

  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
    height: auto;
  }
}

.cards-wrapper {
  display: flex;
  justify-content: center;
}

.card img {
  max-width: 100%;
  max-height: 100%;
}

.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
  width: 600px; 
  height: 500px
}

.carousel-inner {
  padding: 1em;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .card img {
    height: 11em;
  }
}

.card-img-top {
  width: 100%;
  height: auto;
  /* Permite que a altura se ajuste automaticamente */
  object-fit: cover;
}

@media (min-width: 768px) {
  .card-img-top {
    height: 300px;
    /* Aumenta a altura da imagem em telas maiores */
  }
}

@media (min-width: 1200px) {
  .card-img-top {
    height: 400px;
    /* Ajusta ainda mais para telas grandes */
  }
}

/*  index */

/* Estilo para a seção "Missão" */
.mission-section p {
  font-size: 1.2em;
  line-height: 1.6em;
  color: #333;
  /* Cor de texto mais suave */
  padding: 10px 0;
  max-width: 95%;
  /* Limita a largura do parágrafo */
  margin: 0 auto;
  /* Centraliza o texto */
}

/* Estilo para os títulos */
h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  color: #333;
  margin-top: 30px;
}


.container {
  display:flex;
  align-items: start; 
  /* Alinha verticalmente no centro */
  /* gap: 20px; */
  max-width: 95%;
  /* Espaçamento entre a imagem e o texto */
}

.image-container img {
  max-width: 450px;
  /* Ajuste o tamanho máximo da imagem conforme necessário */
  height: auto;
  /* Mantém a proporção da imagem */
  display: block;
  /* Garante que a imagem seja tratada como um bloco */
}

.text-container {
  flex: 1;
  /* Faz o texto ocupar o espaço restante */
}

.quote-text {
  font-style: italic;
  padding-left: 15px;
  padding-top: 10px;
  border-left: 5px solid #ccc;
  color: #555;
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
}



table {
  margin: 20px;

}

.tab_doei {
  border-spacing: 20px;
}

.sobre_doei {

  width: 40%;
  height: 300px;

}

h1 {
  margin: 20px;
}

.verde {
  background-color: #37836f;

}

.espaco_tabela {
  border-spacing: 50px;
}

.borda {
  border: 2px solid black;
  border-radius: 12px;
  padding: 5px;
  width: 300px;
  height: 150px;
  text-align: center;
}


/* estilização da tela Campanhas - página 2 */

.det_camp {
  border-spacing: 20px;
  margin-left: 80px;
  margin-right: 80px;

}

.destaque {
  background-color: #efffff;
  /*align:center;*/
  margin: 20px;
}

div.destaque table {
  border-spacing: 20px;
  width: 98%;
  /* align:center;*/
}

div.destaque h1 {
  color: #ff00ff;
  text-align: left;
}

div.destaque td {
  max-width: 22.5%;
  max-height: 100%;
  background-color: #ffffff;
}

.img_destaque {
  max-width: 200px;
  height: 200px;

}

div.destaque p {
  height: 80px;

}

/*--- Para definir um tamanho padrão para os icones sociais ---*/
footer div div a img {
  width: 100px;
  padding-top: 20px;

}

/* ---- estilização para impacto.html ---- */

.impacto {
  font-size: 38px;

}

.destaque-impacto {
  width: 80%;
  height: 200px;
  display: inline;
  border: solid 1px black;

}

.table-impacto {
  width: 95%;
  background-color: lightgrey;
  font-size: 32px;
}

td img {
  width: 300px;

}

tr {
  border: solid 2px black;

}


td {
  padding: 10px;
}

/* footer */
footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #eaeaea;
}

.footer-content {
  margin-bottom: 15px;
}

.social-icons {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons li {
  display: inline-block;
}

.social-icons a img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s;
}

.social-icons a:hover img {
  transform: scale(1.1);
}

footer span {
  display: block;
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

.faq-body {
  display: none;
}


.values-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Centraliza os itens */
}

.value-item {
  width: 350px;
  height: 200px;
  perspective: 1000px;
  position: relative;
}

.value-item > div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  transition: transform 0.6s;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.value-front {
  background-color: #f0f0f0;
}

.value-back {
  background-color: #d1e7dd;
  color: #333;
  transform: rotateY(180deg);
}

.value-item:hover .value-front {
  transform: rotateY(180deg);
}

.value-item:hover .value-back {
  transform: rotateY(0deg);
}


.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

    /* Caixa arredondada ao redor do formulário */
    .form-container {
      width: 100%;
      max-width: 1500px;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background-color: #f9f9f9;
  }


/* Estilização do título */
.contact-page h2 {
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 20px;
  color: #333;
}

/* Estilização do formulário */
#contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1500px;
  width: 100%;
}

/* Estilização dos labels */
label {
  font-size: 1em;
  color: #555;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
  width: 100%;
}

/* Reduz o tamanho dos inputs e textarea */
input[type="text"], input[type="email"], textarea {
  width: 100%;
  max-width: 1500px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

/* Estilização do botão de envio */
input[type="submit"] {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  background-color: #37836f;
  color: white;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #37836f;
}

/* Mensagens de erro e sucesso */
#error-message, #success-message {
  font-size: 0.9em;
  text-align: center;
  margin-top: 10px;
}

